body {
	margin: 0px;	
	padding: 0px;
	background-color: #B0E0E6;
}

body.error {
	background-color: #8B008B;
}

div.lectura {
	padding: 4px;
	color: #B0E0E6;
	background-color: #6A5ACD;
	font-size: 1em;
	text-align: center;
	margin-top: 10px;
	margin-left: 10%;
	display: inline;
	line-height: 25px;
}


.footer {
	min-height: 20px;
	background-color: #AAA;
	width: 100%;
	position: fixed;
	bottom: 0px;
	font-style: italic;
	font-size: small;
	text-align: center;
	color: #ffffff;	
}

.header {
	margin-top: 0px;
	padding: 5px;
	height: 50px;
	background-color: #5F9EA0;
	color: #ffffff;
	text-align: center;
	width: 100%;
	line-height: 15px;
}